#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  padding: 2rem;
  text-align: center;
}

button {
  /* width: 50px; */
  /* height: 50px; */
  margin-block: .5rem;
  margin-inline: .25rem;
  user-select: none;
  color: #000;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 4px;
  border: 3.5px solid black;
  transition: all .1s ease-in-out;
}

.App-calculator {
  height: 90vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  
  /* conancos-container-logo inside component */
  
  .container {
    width: 295px;
    padding: .5rem;
    margin-top: 40%;
    border-radius: 6px;
    /* border: 4px solid gray; */
    background: linear-gradient(110deg, #000, red, black 98%);

    /* panel inside component */

    .teclado {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "clear clear divide multiply"
        "seven height nine subtract"
        "four five six add"
        "one two three equals"
        "memo zero decimal equals";
      height: 340px;
           
      /* & .button inside component */
        
      #clear { grid-area: clear; box-shadow: -2px -2px 4px 2px #f002; border-radius: 54px 4px 14px 4px }
      #divide { grid-area: divide; }
      #multiply { grid-area: multiply; }
      #seven { grid-area: seven; }
      #height { grid-area: height; }
      #nine { grid-area: nine; }
      #subtract { grid-area: subtract; }
      #four { grid-area: four; }
      #five { grid-area: five; }
      #six { grid-area: six; }
      #add { grid-area: add; }
      #one { grid-area: one; }
      #two { grid-area: two; }
      #three { grid-area: three; }
      #equals { grid-area: equals; box-shadow: 2px 2px 4px 4px #f002; border-radius: 14px 4px 10px 4px}
      #zero { grid-area: zero; }
      #decimal { grid-area: decimal; }
      #memo { grid-area: memo; font-size: .65rem; }
      
    }
  }

}